# Основные библиотеки для анализа данных
numpy>=1.26.0
pandas>=2.2.0

# Библиотеки для визуализации
matplotlib>=3.8.0
seaborn>=0.13.0

# Получение данных из онлайн-источников
pandas_datareader>=0.10.0